{% extends('base.html') %}

{% block title %}- Writing Books{% endblock %}

{% block body %}
<br>
<br>
<div class="books_table">
    <table class="norm">
        <tr>
            <th colspan="6"><h1>{{author["name"]}}'s books</h1></th>
        </tr>
        {% for book in books %}
        <tr>
            <td><img src='{{book["img"]}}' width="100" height="100"></td>
            <td><a href="/books/{{book['id']}}" >{{book["title"]}}</a></td>
            <td>
                {% for author in book["author"] %}
                    {% if author[2] == "Writer" %}
                        <a href="/authors/{{author[0]}}" >{{author[1]}}</a>
                    {% else %}
                         <a href="/authors/{{author[0]}}" > {{author[1]}} </a> ({{author[2]}})
                    {% endif %}
                {% endfor %}
            </td>
            {% if book["year"] %}
                <td>{{book["year"]}}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>Average rating: {{book["average_rating"]}}</td>
            <td>{{book["rating_count"]}} ratings</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<br>
{% endblock %}