{% extends('base.html') %}

{% block title %}- Interesting facts {% endblock %}

{% block body %}
<br>
<br>
<div class="header">
    <h1>Did you know?</h1>
    <h1>Interesting facts about our books</h1>
</div>
<br>
<br>
<table class="norm">
    <tr>
        <th><h2>Chart for book languages</h2></th>
    </tr>
</table>

<div class="books-languages">
    <img src="https://a.radikal.ru/a43/2003/33/3ae4cfaa4145.png" width="600" height="500" alt=""/>
    <span> <h2><b>94,76%</b></h2> <h3>of our books are in </h3> <h2>English.</h2> <h3>Other popular languages are Spanish, French, German, Greek, Portuguese, Italian. </h3></span>
</div>

<table class="norm">
    <tr>
        <th><h2>Books count by publisher (Top 5)</h2></th>
    </tr>
</table>

<div class="books-publishers">
    <img src="https://b.radikal.ru/b04/2003/c7/49b07cad2c98.png" width="900" height="500"/>
    <span>
        <h3> Our books are distinguished by the variety of publishers․ But of course we have favorites. Here they are:
            <ul class="other-facts">
                <li class="other-facts">Penguin Books: 156 books</li>
                <li class="other-facts">Vintage: 151 books </li>
                <li class="other-facts">Penguin Classics: 85 books</li>
                <li class="other-facts">Ballantine Books: 81 books</li>
                <li class="other-facts">Oxford University Press: 76 books</li>
            </ul>
        </h3>
    </span>
</div>

<table class="norm">
    <tr>
        <th><h2>Books count by genres (Top 5)</h2></th>
    </tr>
</table>

<div class="books-genres">
    <img src="https://c.radikal.ru/c38/2003/c0/b8fe48ea2cb7.png" width="900" height="500"/>
    <span>
        <h3>
            <b>Top 5 genres</b>
            <ul class="other-facts">
                <li class="other-facts">Fiction: 3 587 books</li>
                <li class="other-facts">Nonfiction: 2 784 books </li>
                <li class="other-facts">Classics: 1 919 books</li>
                <li class="other-facts">Literature: 1 165 books</li>
                <li class="other-facts">History: 982 books</li>
            </ul>
        </h3>
    </span>
</div>

<table class="norm">
    <tr>
        <th><h2>General facts</h2></th>
    </tr>
</table>

<div class="other_facts">
    <ul class="other-facts">
        <li class="other-facts"><h3>One tree can make 50 books.</h3></li>
        <li class="other-facts"><h3>Each day around 125 new titles are published.</h3></li>
        <li class="other-facts"><h3>It takes an average of 475 hours to write a novel.</h3></li>
        <li class="other-facts"><h3>The first book described as a “best-seller” was “Fools Of Nature” by U.S. writer Alice Brown in
            1889.</h3></li>
        <li class="other-facts"><h3>The world’s most expensive book ever purchased was bought by Bill Gates for $30.8 million. It was “Codex
            Leicester” by Leonardo da Vinci.</h3></li>
    </ul>
    <br>
    <p>
    <h3>For more information please visit this <a
            href="https://www.phillytrib.com/the_learning_key/did-you-know-interesting-facts-about-books/article_db6c9d5d-aecd-515a-898d-78ef4a5cdbbc.html">
        website.</a></h3>
    </p>
</div>
<br>
<br>
{% endblock %}